{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
<div class='page-wrapper'>
    <div class='content container-fluid'>
        <div class='page-header'>
            <h3 class='page-title'>Add Department</h3>
            <ul class='breadcrumb'>
            <li class='breadcrumb-item'><a href="{% url 'department_list' %}">Departments</a></li>
            <li class='breadcrumb-item active'>Add Department</li>
            </ul>
        </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='card'>
                        <div class='card-body'>
                            <form method='POST'>
                            {% csrf_token %}
                            <div class='row'>
                                <div class='col-12 col-sm-6'>
                                    <div class='form-group'>
                                        <label>Department Name <span class='text-danger'>*</span></label>
                                        <input type='text' name='name' class='form-control'
                                        placeholder='Department Name' required>
                                    </div>
                                </div>
                                    <div class='col-12 col-sm-6'>
                                        <div class='form-group'>
                                            <label>Head of Department</label>
                                            <input type='text' name='head_of_department' class='form-control'
                                            placeholder='Head of Department'>
                                        </div>
                                    </div>
                                        <div class='col-12'>
                                            <div class='form-group'>
                                            <label>Description</label>
                                            <textarea name='description' class='form-control' rows='4'
                                            placeholder='Description'></textarea>
                                        </div>
                                    </div>
                                        <div class='col-12'>
                                        <button type='submit' class='btn btn-primary'>Add Department</button>
                                        <a href="{% url 'department_list' %}" class='btn btn-secondary ml-2'>Cancel</a>
                                        </div>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}